<!DOCTYPE html>

<head>
    <title>
        User Create
    </title>
    <%- include('./partials/css.ejs') %>
</head>

<body>
    <%- include("./partials/navBar.ejs") %>
        <h1>
            Create User
        </h1>
        <div class="container">

            <form action="/users/create" method="POST">
                <div class="mb-3">
                    <label class="form-label">
                        Tenant Name
                        <input type="text" name="name" class="form-control">
                    </label>
                </div>
                <div class="mb-3">

                    <label class="form-label">
                        Unit Number
                        <input type="text" name="apt_number" class="form-control">
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        Email
                        <input type="text" name="email" class="form-control">
                    </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
        <%- include("./partials/footer.ejs") %>
</body>

</html>